<div class="row" *ngIf="member">
    <div class="col-4">
        <h1>Your profile</h1>
    </div>
    <div class="col-8 pd-0" *ngIf="!editForm.dirty"></div>
    <div class="col-8 pd-0" *ngIf="editForm.dirty">
        <div class="alert alert-info">
            <p><strong>Information: </strong>You have made changes. Any unsaved changes will be lost.</p>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img class="card-img-top img-thumbnail" src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{member.lastActive}}</p>
                </div>
                <div>
                    <strong>Member Since:</strong>
                    <p>{{member.created}}</p>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success col-12" form="editForm">Save Changes</button>
            </div>
        </div>
        
    </div>
    <div class="col-8">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="home-tab" data-toggle="tab" href="#home"  
              type="button" role="tab" aria-controls="home" aria-selected="true">About {{member.knownAs}}</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" 
              type="button" role="tab" aria-controls="profile" aria-selected="false">Edit Photos</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <form id="editForm" #editForm="ngForm" (ngSubmit)="UpdateMember()">
                    <h4 class="mt-2">Description</h4>

                    <textarea 
                    class="form-control" 
                    name="introduction" 
                    rows="6"
                    [(ngModel)]="member.introduction">
                    </textarea>
                    <h4>Looking for</h4>

                    <textarea 
                    class="form-control" 
                    name="lookingFor" 
                    rows="6"
                    [(ngModel)]="member.lookingFor">
                    </textarea>
                    <h4>Interest</h4>

                    <textarea class="form-control" 
                    name="interests" 
                    rows="6" [(ngModel)]="member.interests">
                    </textarea>

                    <h4 class="mt-2">Location Details: </h4>
                    <div class="d-flex flex-row align-items-center">
                        <label for="city">City</label>
                        <input type="text" [(ngModel)]="member.city" name="city" class="form-control mx-2">
                        <label for="city">Country</label>
                        <input type="text" [(ngModel)]="member.country" name="country" class="form-control mx-2">

                    </div>


                </form>
                
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <h4>Edit Photos</h4>
                <p>Photo edit will go here</p>
            </div>
          </div>
          

    </div>


    </div>
        